body {
    height: 100%; 
    margin: 0;
    margin-top: 10px;
    // display: grid;
    // grid-template-columns: auto 30%;
    font-family: 'Newsreader';
    // color:black;
    // padding: 9em;
    // background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@600&display=swap');

aside{
    background: url('../images/RT306_1024x1024.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // width: 100%;
    // bottom: 0;
    // right: 0;
    // padding: 15% 7%;
    height: 100vh;
    position: relative;

    .eng {
        width: 540px;
        left: -90px;
        top: 540px;
        opacity:1;
        position: absolute;
        transform: rotate(45deg);
    }

    .vie {
        width: 390px;
        right: 25px;
        top: 54%;
        opacity:1;
        position: absolute;
    }

    .eng1 {
        width: 240px;
        left: 40px;
        top: 960px;
        opacity:1;
        position: absolute;
    }

    .vie1 {
        width: 240px;
        right: 115px;
        top: 960px;
        opacity:1;
        position: absolute;
        height: 321px;
    }
}

main{
    margin-left: 50px;
    height: 100%;
    place-content: center;
    display: grid;
    grid-template-columns: auto 50%;
    // flex-direction: row;

    .content{
        margin-right: 10px;
        h1{
            font-family: 'Newsreader';
            font-size: 4.5em;
            color: #C79E70;
            line-height: 1em;
            position: relative;
            margin-top: 0px;
            span{
                display: block;
            }
         }
    
        section{
            width: 80%;
            margin: 0 auto;
        }

        button{
            display: inline-block;
            background-color: #C79E70;
            border: 1px solid #C79E70;
            color: #101343;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1em;
            cursor: pointer;
        }
    
        p{
            font-size: 1.3rem;
            line-height: 1.7em;
            margin-bottom: 2em;
            color: black;
            opacity:1;
            font-family: 'Newsreader';
        }
    
        .p1{
            font-size: 0.9em;
            color: black;
            opacity:1;
            font-family: 'Newsreader';
        }
    }
}

// span:after {
//     content: ' ';
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 100%; 
//     z-index: 1;
//     transform-origin: 100% 0;
// }

.vie:hover {
    animation: shake-vie 0.5s;
    animation-iteration-count: infinite;
  }

.eng:hover {
    animation: shake-eng 0.5s;
    animation-iteration-count: infinite;
  }

.vie1:hover {
    animation: shake-vie 0.5s;
    animation-iteration-count: infinite;
  }

.eng1:hover {
    animation: shake-vie 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake-vie {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes shake-eng {
    0% { transform: translate(1px, 1px) rotate(45deg); }
    10% { transform: translate(-1px, -2px) rotate(44deg); }
    20% { transform: translate(-3px, 0px) rotate(46deg); }
    30% { transform: translate(3px, 2px) rotate(45deg); }
    40% { transform: translate(1px, -1px) rotate(46deg); }
    50% { transform: translate(-1px, 2px) rotate(44deg); }
    60% { transform: translate(-3px, 1px) rotate(45deg); }
    70% { transform: translate(3px, 1px) rotate(44deg); }
    80% { transform: translate(-1px, -1px) rotate(46deg); }
    90% { transform: translate(1px, 2px) rotate(45deg); }
    100% { transform: translate(1px, -2px) rotate(44deg); }
  }

  .iframe1 {
      position: absolute;
      margin-top: 995px;
  }

  .iframe2 {
    position: absolute;
    margin-top: 1490px;
  }

  .iframe3 {
    position: absolute;
    margin-top: 1985px;
  }

  .iframe4 {
    position: absolute;
    margin-top: 2480px;
  }

  .iframe5 {
    position: absolute;
    margin-top: 2975px;
  }

  .iframe6 {
    position: absolute;
    margin-top: 3470px;
  }

  .iframe7 {
    position: absolute;
    margin-top: 3965px;
  }

  .iframe8 {
    position: absolute;
    margin-top: 4460px;
  }

  .iframe9 {
    position: absolute;
    margin-top: 4955px;
  }

  .iframe10 {
    position: absolute;
    margin-top: 5450px;
  }