@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@600&display=swap");
body {
  height: 100%;
  margin: 0;
  margin-top: 10px;
  font-family: 'Newsreader';
}

aside {
  background: url("../images/RT306_1024x1024.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

aside .eng {
  width: 540px;
  left: -90px;
  top: 540px;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

aside .vie {
  width: 390px;
  right: 25px;
  top: 54%;
  opacity: 1;
  position: absolute;
}

aside .eng1 {
  width: 240px;
  left: 40px;
  top: 960px;
  opacity: 1;
  position: absolute;
}

aside .vie1 {
  width: 240px;
  right: 115px;
  top: 960px;
  opacity: 1;
  position: absolute;
  height: 321px;
}

main {
  margin-left: 50px;
  height: 100%;
  place-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50%;
      grid-template-columns: auto 50%;
}

main .content {
  margin-right: 10px;
}

main .content h1 {
  font-family: 'Newsreader';
  font-size: 4.5em;
  color: #C79E70;
  line-height: 1em;
  position: relative;
  margin-top: 0px;
}

main .content h1 span {
  display: block;
}

main .content section {
  width: 80%;
  margin: 0 auto;
}

main .content button {
  display: inline-block;
  background-color: #C79E70;
  border: 1px solid #C79E70;
  color: #101343;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
  cursor: pointer;
}

main .content p {
  font-size: 1.3rem;
  line-height: 1.7em;
  margin-bottom: 2em;
  color: black;
  opacity: 1;
  font-family: 'Newsreader';
}

main .content .p1 {
  font-size: 0.9em;
  color: black;
  opacity: 1;
  font-family: 'Newsreader';
}

.vie:hover {
  -webkit-animation: shake-vie 0.5s;
          animation: shake-vie 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.eng:hover {
  -webkit-animation: shake-eng 0.5s;
          animation: shake-eng 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.vie1:hover {
  -webkit-animation: shake-vie 0.5s;
          animation: shake-vie 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.eng1:hover {
  -webkit-animation: shake-vie 0.5s;
          animation: shake-vie 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake-vie {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake-vie {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes shake-eng {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(45deg);
            transform: translate(1px, 1px) rotate(45deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(44deg);
            transform: translate(-1px, -2px) rotate(44deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(46deg);
            transform: translate(-3px, 0px) rotate(46deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(45deg);
            transform: translate(3px, 2px) rotate(45deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(46deg);
            transform: translate(1px, -1px) rotate(46deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(44deg);
            transform: translate(-1px, 2px) rotate(44deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(45deg);
            transform: translate(-3px, 1px) rotate(45deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(44deg);
            transform: translate(3px, 1px) rotate(44deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(46deg);
            transform: translate(-1px, -1px) rotate(46deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(45deg);
            transform: translate(1px, 2px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(44deg);
            transform: translate(1px, -2px) rotate(44deg);
  }
}

@keyframes shake-eng {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(45deg);
            transform: translate(1px, 1px) rotate(45deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(44deg);
            transform: translate(-1px, -2px) rotate(44deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(46deg);
            transform: translate(-3px, 0px) rotate(46deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(45deg);
            transform: translate(3px, 2px) rotate(45deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(46deg);
            transform: translate(1px, -1px) rotate(46deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(44deg);
            transform: translate(-1px, 2px) rotate(44deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(45deg);
            transform: translate(-3px, 1px) rotate(45deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(44deg);
            transform: translate(3px, 1px) rotate(44deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(46deg);
            transform: translate(-1px, -1px) rotate(46deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(45deg);
            transform: translate(1px, 2px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(44deg);
            transform: translate(1px, -2px) rotate(44deg);
  }
}

.iframe1 {
  position: absolute;
  margin-top: 995px;
}

.iframe2 {
  position: absolute;
  margin-top: 1490px;
}

.iframe3 {
  position: absolute;
  margin-top: 1985px;
}

.iframe4 {
  position: absolute;
  margin-top: 2480px;
}

.iframe5 {
  position: absolute;
  margin-top: 2975px;
}

.iframe6 {
  position: absolute;
  margin-top: 3470px;
}

.iframe7 {
  position: absolute;
  margin-top: 3965px;
}

.iframe8 {
  position: absolute;
  margin-top: 4460px;
}

.iframe9 {
  position: absolute;
  margin-top: 4955px;
}

.iframe10 {
  position: absolute;
  margin-top: 5450px;
}
/*# sourceMappingURL=main.css.map */