@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@600&display=swap");
body {
  height: 100%;
  margin: 0;
  margin-top: 10px;
  font-family: 'Newsreader';
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.eng {
  width: 290px;
  left: -60px;
  top: 590px;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 768px) {
  .eng {
    left: -90px;
    width: 540px;
  }
}

.vie {
  width: 190px;
  right: 5px;
  top: 54%;
  opacity: 1;
  position: absolute;
}

@media (min-width: 768px) {
  .vie {
    right: 25px;
    width: 390px;
  }
}

.eng1 {
  width: 240px;
  left: 40px;
  top: 960px;
  opacity: 1;
  position: absolute;
}

.vie1 {
  width: 240px;
  right: 115px;
  top: 960px;
  opacity: 1;
  position: absolute;
  height: 321px;
}

main {
  height: 100%;
  place-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .content {
  margin: 5px 10px;
}

main .content h1 {
  font-family: 'Newsreader';
  font-size: 2.5em;
  font-weight: bold;
  color: #C79E70;
  line-height: 1em;
  position: relative;
  margin-top: 0px;
}

main .content h1 span {
  display: block;
}

@media (min-width: 768px) {
  main .content h1 {
    font-size: 4em;
  }
}

main .content section {
  margin: 0 auto;
}

main .content button {
  display: inline-block;
  background-color: #C79E70;
  border: 1px solid #C79E70;
  color: #101343;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5em;
  cursor: pointer;
  margin: 10px 10px 0 5px;
}

main .content p {
  font-size: 1.3rem;
  line-height: 1.7em;
  margin-bottom: 2em;
  color: black;
  opacity: 1;
  font-family: 'Newsreader';
}

main .content .p1 {
  font-size: 0.9em;
  color: black;
  opacity: 1;
  font-family: 'Newsreader';
}

main .content mark.red {
  color: #C79E71;
  background: none;
}

@media (min-width: 768px) {
  main .content {
    margin: 15px 30px;
  }
}

.bom-image {
  background: url("../images/RT306_1024x1024.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 900px;
  margin-bottom: 100px;
}

.vie:hover {
  -webkit-animation: shake-vie 0.5s;
          animation: shake-vie 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.eng:hover {
  -webkit-animation: shake-eng 0.5s;
          animation: shake-eng 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.vie1:hover {
  -webkit-animation: shake-vie 0.5s;
          animation: shake-vie 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.eng1:hover {
  -webkit-animation: shake-vie 0.5s;
          animation: shake-vie 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake-vie {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake-vie {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes shake-eng {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(45deg);
            transform: translate(1px, 1px) rotate(45deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(44deg);
            transform: translate(-1px, -2px) rotate(44deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(46deg);
            transform: translate(-3px, 0px) rotate(46deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(45deg);
            transform: translate(3px, 2px) rotate(45deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(46deg);
            transform: translate(1px, -1px) rotate(46deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(44deg);
            transform: translate(-1px, 2px) rotate(44deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(45deg);
            transform: translate(-3px, 1px) rotate(45deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(44deg);
            transform: translate(3px, 1px) rotate(44deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(46deg);
            transform: translate(-1px, -1px) rotate(46deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(45deg);
            transform: translate(1px, 2px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(44deg);
            transform: translate(1px, -2px) rotate(44deg);
  }
}

@keyframes shake-eng {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(45deg);
            transform: translate(1px, 1px) rotate(45deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(44deg);
            transform: translate(-1px, -2px) rotate(44deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(46deg);
            transform: translate(-3px, 0px) rotate(46deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(45deg);
            transform: translate(3px, 2px) rotate(45deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(46deg);
            transform: translate(1px, -1px) rotate(46deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(44deg);
            transform: translate(-1px, 2px) rotate(44deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(45deg);
            transform: translate(-3px, 1px) rotate(45deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(44deg);
            transform: translate(3px, 1px) rotate(44deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(46deg);
            transform: translate(-1px, -1px) rotate(46deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(45deg);
            transform: translate(1px, 2px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(44deg);
            transform: translate(1px, -2px) rotate(44deg);
  }
}

iframe {
  height: 465px;
  margin: 15px 0;
  width: 100%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
}

@media (min-width: 768px) {
  .fa {
    margin: 5px 7px;
  }
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: white;
}

.fa-globe {
  background: #141641;
  color: #C79E71;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-twitter {
  background: #52A8E7;
  color: white;
}
/*# sourceMappingURL=main.css.map */